#first{
    background-color: rgb(0, 174, 255);
     height: 600px;
     font-style: italic;
    background-image: url(../imgs/h_img.jpeg);
    padding-top: 280px;
    color: rgb(244, 246, 248);


}
.card text-center{
    background-color: transparent;
    color: white;

}
.services{
    height: 350px;
    background-image:url(../imgs/s_image.jpeg);
    color: rgb(223, 229, 234);
}